{% unless image_widths %}
    {% assign image_widths = '[360, 540, 720, 900, 1080, 1600]' %}
{% endunless %}
{% unless image_width_default %}
    {% assign image_width_default = 'master' %}
{% endunless %}
<div class="image-wrap {{image_wrap_class}}" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
    {% if image_url %}<a href="{{image_Url}}" >{% endif %}
    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img class="lazyload {{img_class}}"
        data-src="{{ img_url }}"
        data-widths="{{image_widths}}"
        data-aspectratio="{{ image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ image.alt }}">
    <noscript>
      <img class="lazyloaded {{img_class}}" src="{{ image | img_url: image_width_default }}" alt="{{ image.alt }}">
    </noscript>
    {% if image_url %}</a>{% endif %}
</div>